.reports{
    .reports__content{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        width: 100% !important;
        text-align: center;
        margin-top: 4rem;
        .card{
            background-color: #3d3d3d;
            width: 100% !important;
            padding: 20px 20px;
            border-radius: 10px;
            img{
                width: 100%;
            }
            .card-body{
                padding-top: 10px;
                h2{
                    padding-bottom: 4px;
                }
                p{
                    padding-bottom: 6px;
                }
                .details {
                    background: none;
                    cursor: pointer;
                    outline: none;
                    border: 1px solid gray;
                    color: white;
                    border-radius: 4px;
                    cursor: pointer;
                    padding: 5px 20px;
                    font-weight: bold;
                    margin-top: 1rem;
                    font-size: 12px;
                    transition: .5s ease-in-out !important;
                    &:hover{
                        background-color: #5127E5;
                        border: 1px solid #5127E5;
                    }
                }
            }
        }
    }
    .modal{
        .modal-dialog{
            .modal-content{
                background-color: #3d3d3d !important;
                padding-bottom: 20px;
                text-align: left;
                img{
                    width: 100%;
                    height: 400px !important;
                    object-fit: cover;
                }
                .btn{
                    padding: 5px 10px;
                    background: transparent;
                    outline: none;
                    border: 1px solid gray;
                    color: #fff;
                    cursor: pointer;
                    transition: .3s ease-in-out;
                    &:hover{
                        border: 1px solid red;
                        background-color: red;
                    }
                }
            }
        }
    }
}